@import "tailwindcss";

@theme {
    --default-color-scheme: dark;
}

:root {
    color-scheme: dark;
}

@plugin "flowbite/plugin";

@layer base {
    html,body {
        font-family: 'Anuphan', sans-serif;
    }
}